#shortcut-articles_tags label{
  margin-left: 25px;
}

.interactive-popup__box--tags_selection{
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
