[submodule "popper.js"]
	path = popper.js
	url = https://github.com/FezVrasta/popper.js.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "bulma"]
	path = bulma
	url = https://github.com/jgthms/bulma.git
[submodule "animate.css"]
	path = animate.css
	url = https://github.com/daneden/animate.css.git