[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "popper.js"]
	path = popper.js
	url = https://github.com/FezVrasta/popper.js.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "bulma"]
	path = bulma
	url = https://github.com/jgthms/bulma.git
