.main__header_info--articles::before{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  background-color: green;
  z-index: 999;
}

.main__header_info--articles::after{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  background-color: orange;
  z-index: 999;
}

.main__header_info--articles {
  color: white;
  background-color: blue;
}

.main__header_info--categories {
  color: white;
  background-color: purple;
}

.main__header_info_sub--articles-draft{
  transform: translate(-50%, 25px);
  background-color: orange;
}

.main__header_info_sub--articles-published{
  transform: translate(50%, 25px);
  background-color: green;
}
