.main__header_infos{
  display: flex;
  width: 225px;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  margin-left: 50px;
  padding: 0 !important;
}

@media screen and (max-width: 1024px){
  .main__header_infos{
    flex-flow: row;
    width: 500px;
  }
}

.main-dashboard__header_info {
  width: 100%;
  height: 50%;

  &--articles {
    color: white;
    background-color: blue;
  }

  &--categories {
    color: white;
    background-color: purple;
  }
}

.main-dashboard__header_info_sub{
  bottom: 0;
  width: 40% !important;
  height: 50px;

  &--draft{
    transform: translate(-50%, 25px);
    background-color: orange;
  }
  &--published{
    transform: translate(50%, 25px);
    background-color: green;
  }
}

.chart-container{
  // height: auto !important;
  width: 70% !important;
}
