@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.main__header {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.main__header>* {
  margin: 0 25px;
}

main {
  display: flex;
  width: 100vw;
  height: auto;
  margin: 50px 0;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.main__header_table_container{
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
}

.main__header_table_h2{
  font-size: 40px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
}

.main__header_info {
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.main__header_info_p{
  text-align: center;
  padding: 25px;
  font-family: Montserrat;
  font-size: 50px;
  line-height: 1;
}

.main__header_info--articles::before{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  background-color: green;
  z-index: 999;
}

.main__header_info--articles::after{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  background-color: orange;
  z-index: 999;
}

.main__header_info_nb {
  font-size: 150px;
}

.main__header_info--articles {
  color: white;
  background-color: blue;
}

.main__header_info--categories {
  color: white;
  background-color: purple;
}

.main__header_info_sub{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  // border-radius: 25px;
}

.main__header_info_sub--articles-draft{
  transform: translate(-50%, 25px);
  background-color: orange;
}

.main__header_info_sub--articles-published{
  transform: translate(50%, 25px);
  background-color: green;
}

.main__header_info_sub_p{
  color: white;
  font-family: "Poiret One";
  font-weight: bold;
}
